.brand-logo {
  position: relative;
  margin-left: 1%;
}

#search {
  height: 4vw;
  border-top: 5px !important;
}

textarea:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.input-field {
  border-bottom: none !important;
}

input[type="text"] {
  border-bottom: none !important;
  outline: none !important;
}